<cart-recommendations
  class="related-products page-width {% if template contains 'product' %} product-page-page-width {% endif %} section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  data-url="{{ routes.product_recommendations_url }}?section_id=cart-drawer&product_id={{ cart.items.first.id }}&limit=4"
>
  {% if recommendations.performed and recommendations.products_count > 0 %}
    <h2 class="related-products__heading inline-richtext {{ section.settings.heading_size }}">
      {{ section.settings.heading }}
    </h2>
    <ul
      class="grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down"
      role="list"
    >
      {% for recommendation in recommendations.products %}
        <li class="recommendation__item">
          {% render 'cart-card-product',
            card_product: recommendation,
            media_aspect_ratio: section.settings.image_ratio,
            image_shape: section.settings.image_shape,
            show_secondary_image: section.settings.show_secondary_image,
            show_vendor: section.settings.show_vendor,
            show_rating: section.settings.show_rating,
            section_id: section.id,
            quick_add: section.settings.quick_add
          %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</cart-recommendations>
