{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu cstm--header--nav--menu small-hide medium-hide">
  <ul class="cstm--menu--nav list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.title == 'All' and childlink.links == blank -%} 
                  <div class="mega-menu-media-wrapper">
                    {%- assign collection_image = childlink.object.featured_image -%}

                    {%- if collection_image == null -%}
                      {%- assign first_product = childlink.object.products.first -%}
                      {%- if first_product != null -%}
                        {%- assign product_image = first_product.featured_image -%}
                      {%- endif -%}
                    {%- endif -%}

                    {%- if collection_image != null -%}
                      {{
                        collection_image
                        | image_url: width: 500
                        | image_tag:
                          loading: 'lazy',
                          class: 'collections-all-image',
                          sizes: sizes,
                          is: 'lazy-image'
                      }}
                    {%- elsif product_image != null -%}
                      {{
                        product_image
                        | image_url: width: 500
                        | image_tag:
                          loading: 'lazy',
                          class: 'collection-all-product-image',
                          sizes: sizes,
                          is: 'lazy-image'
                      }}
                    {%- endif -%}   
                  </div>
                      {% endif %}
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                                {% if grandchildlink.type == "collection_link" %}
                                <span class="product-count-linklist">({{ grandchildlink.object.products_count }})</span>
                                {% endif %}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>

  {% if section.settings.enable_delivery %}
    <span class="deliver--option">
      {% if section.settings.delivery_image %}
      <img src="{{ section.settings.delivery_image | img_url : 'master'}}">
      {% endif %}
      <span class="deliver--text">
        <p class="title--delivery typeset0">
          {{ section.settings.delivery_title | default : 'FAST DELIVERY'}}
        </p>
        <p class="small--delivery--text">
          {{ section.settings.delivery_text | default : 'Free Shipping over'}}
        </p>
      </span>
    </span>
  {% endif %}
</nav>
